<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>509011304205-0hj0cd36rhbbr933agt09bpjaphntdsr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.509011304205-0hj0cd36rhbbr933agt09bpjaphntdsr</string>
	<key>API_KEY</key>
	<string>AIzaSyAtghVY6VjYbgmL_2NJllgeS4eNfjySnAE</string>
	<key>GCM_SENDER_ID</key>
	<string>509011304205</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>chernyshartyom.Messenger</string>
	<key>PROJECT_ID</key>
	<string>messenger-b990e</string>
	<key>STORAGE_BUCKET</key>
	<string>messenger-b990e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:509011304205:ios:13bdcd28ac9ad6aa641a44</string>
</dict>
</plist>